{% extends "movie_app/base.html" %}

{% block title %}Информация о режиссере{% endblock %}

{% block content %}
    <h2>Имя - {{director.first_name}} </h2>
    <h2>Фамилия - {{director.last_name}}</h2>
    <h2>Почта - {{director.director_email}}</h2>
<!--    <h3>{{movie}}</h3>-->
    <hr>
    <h3>Список фильмов, которые снимал</h3>
        <ul>
        {% for movie in director.movies.all %}
            <li><a href="{{movie.get_url}}">{{movie}}</a>
            </li>
        {% endfor %}
        </ul>

{% endblock %}



